/* navbar */
.navbar{
  height: 80px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 60;
  background-color: white;
  border-bottom: 2px inset forestgreen;
}
.brandContainer{
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.brandContainer img{
  height: 77%;
  width: auto;
  margin-right: 10px;
}
.brandContainer h2{
  font-size: 1.8rem;
  margin-right: 20px ;
}
.brandContainer h2:hover{
  color: forestgreen;  
}
.menuContainer{
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
/* nav hover */
.menuContainer h5:hover{
  
  cursor: pointer;

  /* border: 3px solid; */
  color: forestgreen;
}
.menuContainer h5{
  padding: 12px 22px;
  font-size: 18px;
  margin: 2px;
}
.login{
  /* padding: 9px 19px !important; */
  border-image-source: linear-gradient(-90deg, limegreen, rgb(255, 255, 255));
  border-image-slice: 1 fill;
}

/* banner */
.banner{
  height: 28rem;
  width: 100%;
  background-image: url("../assets/banner.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  /* padding-top: 15px; */
}
.textContainer{
  width: 39%;
  height: fit-content;
  position: absolute;
  bottom: 100px;
  left: 5vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: start;
  cursor: pointer;
  /* background-color: rgba(254, 254, 254, 0.666); */
}
.textContainer h1{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.348);
  padding: 1vh;
  border-radius: 2px;
  font-size: 40px;

}
.searchContainer{
  height: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 4vh;
}
.search{
  height: 100%;
  width: 36%;
  border: 1px solid rgba(0, 0, 0, 0.822);
  font-size: 100%; 
  padding: 1vh;
}
.search:focus {
  outline: none;
  border: 3px solid forestgreen;
}
.searchBtn{
  height: 100%;
  padding: 0 15px;
  background-color: rgba(0, 0, 0, 0.751);
  color: white;
  border: none;
  font-weight: 600;
}
.searchBtn:hover{
  color: forestgreen;
}

/* gallery */
.gallery{
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-bottom: 20px;
}
.newsContainer{
  height: fit-content;
  width: 27vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: 2px solid;
  border-image-source: linear-gradient(to right, forestgreen, rgb(255, 255, 255));
  border-image-slice: 1;
  cursor: pointer;
  margin-top: 18px;
}
.pictureContainer{
  height: 16vw;
  width: 100%;
}
.pictureContainer img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.description{
  height: fit-content;
  margin: 6px 0;
}
.description p{
  margin: 3px 0;
}

.bar{
  display: block;
  width: 30px;
  height: 3.5px;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000000;
}
/* .hamburger:hover{
  item-color: forestgreen;
} */

/* screen => 980px */
@media screen and (min-width:980px){
  .hamburger {
      display: none;
  }
}

/* screen < 980px */
@media screen and (max-width: 979px) {
  /* navbar */

  /* hamburger button */
  .hamburger{
    display: block;
    cursor: pointer;
  }

  .hamburger.isActive {
    .bar:nth-child(2) {
      opacity: 0;
    }
    .bar:nth-child(1) {
      transform: translateY(9.5px) rotate(45deg);
    }
    .bar:nth-child(3) {
      transform: translateY(-9.5px) rotate(-45deg);
    }
  }
  .menuContainer{
    position:fixed;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    top: 80px;
    left: -100%;
    width: 100%;
    height: auto;

    transition: 0.5s ease-in-out;

    background-color: #ffffff;
    border-top: 2px solid;
    border-image-source: radial-gradient(rgb(12, 123, 23), rgb(255, 255, 255));
    border-image-slice: 1;
  }
  .menuContainer.isActive{
    top: 80px;
    left: 0;
  }
  .menuContainer h5{
    width: 100%;
    margin: 0;
    padding: 25px !important;

    border-top: 2px solid;
    border-image-source: radial-gradient(rgb(12, 123, 23), rgb(255, 255, 255));
    border-image-slice: 1;
  }
  .login{
    border: none;
  }
  /* overlay */
  .overlay{
    z-index: -1;
  }
  .overlay.isActive {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 3;
    left: 0;
    top: 80px;
    height: 100%;
    width: 100%;
    position:fixed;
    transition: 0.5s ease-in-out;
  }
  /* banner */
  .banner{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .textContainer{
    position: relative;
    bottom: initial;
    left: initial;
    width: 80%;
    height: auto;
  }
  .textContainer h1{
    font-size: 5vw;
  }
  .searchContainer{
    height: fit-content;
    position: relative;
    bottom: initial;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .search{
    width: 80%;
    height: 60px;
    margin-bottom: 10px;
  }
  .searchBtn{
    width: 80%;
    height: 60px;
    font-size: 100%;
  }

  /* gallery */
  .gallery{
    flex-direction: column;
    align-items: center;
  }
  .newsContainer{
    width: 80vw;
  }
  .pictureContainer{
    height: 45vw;
    width: 100%;
    margin-bottom: 0.5vh 0;
  }
}